<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj</title>
</head>
<body>
<h1>Add People</h1>
<form action="/people/savenew" th:object="${person}" method="post">
    <input type="hidden" name="id" />
    <input name="name" th:value="${person.name}" />
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <input name="surname" th:value="${person.surname}" />
    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
    <input type="submit" value="Zapisz"/>
</form>

<br/>
<a href="/people">Anuluj</a>
</body>
</html>