<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>People Hibernate Project</title>
</head>
<body>
<h1>Display People</h1>
<a href="/people/new">Nowy</a><br/><br/>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="user : ${people}">
        <td th:text="${user.id}"></td>
        <td><a th:href="@{'/people/single/' + ${user.id}}" th:text="${user.name}"></a></td>
        <td><a th:href="@{'/people/single/' + ${user.id}}" th:text="${user.surname}"></a></td>
        <td><a th:href="@{'/people/edit/' + ${user.id}}">Edytuj</a> </td>
        <td><a th:href="@{'/people/del/' + ${user.id}}">Kasuj</a> </td>
    </tr>
</table>
<form th:if="${searchForm}" action="/people/search" method="post">
    <p>Szukaj:</p>
    <input type="text" name="search"/><br/>
    <input type="radio" name="nameOrSurname" value="name" checked> imię<br/>
    <input type="radio" name="nameOrSurname" value="surname"> nazwisko<br/>
    <input type="submit" value="Szukaj">
</form>
<a th:if="${searchForm}==false" href="/people">Powrót</a>
</body>
</html>